# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/
build/

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# drizzle
drizzle/

# testing
coverage/

# vercel
.vercel
